/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	color: #626262; 
}
/*header start*/
header{
	padding: 25px 0;
}
.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	
}
.logo{
	width: 13%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 70%;
	float:right; ;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin:0 50px;
	padding: 5px 0;
	text-decoration: none;
	text-transform: uppercase;
	color: #626262;
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: .3s ease;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
	
}
/*header end*//
/*banner start*/
.banner{}
.b_img{
	width: 100%;
}
/*banner end*/
/*newsletter start*/

.newsletter{
	padding: 65px 0;
	background-color: #f0f0f0;
}
.newsletter h2{
		margin-bottom: 40px;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
}
.newsletter-form{
	width: 30%;
	margin: 0 auto;
	position: relative;
}
.newsletter-form input{
	width: 100%;
	padding: 8px 5px;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	color: #626262;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid #1113;
	display: inline-block;
}
.newsletter-form button{
	position: absolute;
	top: 12px;
	right: 0;
	cursor: pointer;
}
.newsletter-form button img{
	width: 30px;
}
/*newsletter end*/